<div class="row">
    <div class="col-md-6 col-md-offset-3 well">

        <h3><a href="/account/history">View History</a></h3>
        <br />
        <h3><a href="/account/shortenurl">Shorten Url</a></h3>
    </div>
</div>